# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

#Files
/questions.md

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

#Key, cert
*.crt
*.key

#server main() function binary
/serverCH/serverCH
/serverCH/keys/
/serverCH/zoneFiles/
/serverRoot/serverRoot
/serverRoot/keys/
/serverRoot/zoneFiles/

#binary of rainsdig
/rainsdig/rainsdig

#test coverage files
coverage.out
