version: 2
jobs:
  build:
    docker:
      - image: ethznetsec/scion_base
    working_directory: /tmp/go/src/github.com/netsec-ethz/rains
    steps:
      - run:
          name: setup envvar
          command: |
              echo 'export GOPATH=/tmp/go' >> $BASH_ENV
              echo 'export SC=/tmp/go/src/github.com/scionproto/scion' >> $BASH_ENV
              echo 'export PATH=$PATH:/tmp/go/bin' >> $BASH_ENV
      - checkout
      - restore_cache:
          keys:
            - v2-pkg-cache
      - run: go get -u github.com/kardianos/govendor
      - run:
          name: scion
          command: |
            sudo apt-get install --assume-yes libpcap0.8 libpcap0.8-dev 
            mkdir -p $GOPATH/src/github.com/scionproto/scion
            git clone https://github.com/netsec-ethz/scion $GOPATH/src/github.com/scionproto/scion
            cd $GOPATH/src/github.com/scionproto/scion
            ./env/deps
            make
            PYTHONPATH=$PYTHONPATH:./topology:./python python/topology/generator.py -c ./topology/Tiny.topo
            mkdir ./gen-cache/
            echo  '1-ff00_0_110' > ./gen/ia
            ./supervisor/supervisor.sh reload
            ./supervisor/supervisor.sh start dispatcher
            ./supervisor/supervisor.sh start as1-ff00_0_110:*
      - run:
          name: run build
          command: |
            # TODO: Update base image ethznetsec/scion_base after the update
            curl https://dl.google.com/go/go1.11.5.linux-amd64.tar.gz -o /tmp/go.tar.gz
            sudo rm -rf /usr/local/go
            sudo tar -xzf /tmp/go.tar.gz -C /usr/local/
            govendor sync
            go build -v cmd/rainsd/rainsd.go
            go build -v cmd/rdig/rdig.go
            go build -v cmd/zonepub/zonepub.go
      - run:
          name: run tests
          command: |
            go fmt ./...
            go vet -composites=false ./internal/...
            go vet -composites=false ./cmd/...
            go vet -composites=false ./test/...
            go test ./internal/pkg/...
            go test -v ./test/integration/
      - save_cache:
          key: v2-pkg-cache
          paths:
            - "/tmp/go/pkg"
